<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Pick one (1) public objective to reveal!</h1>
  <% @objectives.each do |objective| %>
    <p>
      Stage <%= objective[:card].stage %> Objective<br>
      <%= objective[:card].text %><br>
      Victory Points: <%= objective[:card].value %><br>
      To reveal this public objective click here: <%= objective[:link] %>
    </p>
  <% end %>
</body>
</html>
