<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>A Public Objective has been revealed!</h1>
  <p>
    Stage <%= @objective.stage %> Objective<br>
    <%= @objective.text %><br>
    Victory Points: <%= @objective.value %>
  </p>
</body>
</html>
