<h1>All Games</h1>
  <% if policy(Game).new_game? %>
    <%= link_to "New Game", new_game_path, class: 'btn btn-success' %>
  <% end %>
<% @games.each do |game| %>
  <div>
    <h2><%= link_to game.name, game_path(game) %></h2>
    <% if current_user && !game.started && !game.users.include?(current_user) %>
      <%= link_to 'join_game', '#', class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>