<h1>All Games</h1>
  <%= link_to "New Game", new_game_path, class: 'btn btn-success' %>
<% @games.each do |game| %>
  <div>
    <h2><%= link_to game.name, game_path(game) %></h2>
    <% if !game.started && !game.users.include?(current_user) %>
      <%= link_to 'join_game', '#', class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>