// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.container-fluid {
    /* your container style */
    position: relative;
}

.splash-image {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    width: 80%;
}
